
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.display-flex{
    display: flex;
}
.bg-primary{
    background-color: rgba(255, 224, 14, 0.1);
}
/* dark-2 */
.text-gray{
    color: #424242;
}
/* dark-3 */
.text-light-gray{
    color: #727272;
}
nav , .banner{
    border: 2px solid red;
    max-width: 1240px;
    margin: 0px auto;
}

/* header */

/* nav-bar-related style */
nav{
    justify-content: space-between;
}
.nav-item{
    list-style: none;
    margin-right:  30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}
