/* *{
    margin: 0px;
} */
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.display-flex{
    display: flex;
}
.bg-primary{
    background-color: rgba(255, 224, 14, 0.1);
}
/* dark-2 */
.text-gray{
    color: #424242;
}
/* dark-3 */
.text-light-gray{
    color: #727272;
    font-size: 16px;
    line-height: 28px;
}
nav , .banner , main , footer{
    /* border: 2px solid red; */
    max-width: 1240px;
    margin: 0px auto;
}
.btn{
    background-color: #FF900E;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
}
main > section{
    margin-top: 120px;
    
}
.section-title{
    font-size: 2.5rem;
}
/* header */
header{
    padding: 20px;
}
.brand{
    font-size: 40px;
    font-weight: bold;


}

/* nav-bar-related style */
nav{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right:  30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}
/* banner */
.banner{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    
}
.banner-description  {
    max-width: 800px;
    padding: 30px;

}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    line-height: auto;
}
header img{
    width: 100%;
}
/* features  */
#features{
    align-items: center;
}
.features-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.features-description{
    max-width: 530px;
    margin-left: 60px;
}
/* features we will enjoy */
  #enjoy-features{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
  }
  .enjoy{
    gap: 120px;
  }
  .enjoy-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
   
  }
  .enjoy-card{
    margin-bottom: 20px;
    padding: 30px;
    box-shadow:0px 4px 30px 0px rgba(128, 128, 128, 0.542) ;
    border-radius: 8px;
  }
  #ex-badge{
    padding: 45px 42px;
    margin-left: -100px;
    margin-top: -100px;
    font-size: 1.5rem;
  }
  #years{
    font-size: 2rem;
    font-weight: 700;
  }
  #ex{
  
    font-weight: 500;
  }
/* our facts */
.fact-des{
    max-width: 540px;
}
.facts-container{
 display: grid;
 grid-template-columns: repeat(4,1fr);
 
}
.fact{
    border-radius: 5px;
    border: 1px solid #FF900E;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 240px;
    height: 240px;
    align-items: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #424242;
}
.fact-name{
    font-size: 1.25rem;
    margin-top: 10px;
    font-weight: 600;
    color: #727272;
}
/* sponser */
.sponser-description{
    max-width: 540px;
    margin: 20px auto;
    text-align: center;
}
.sponser-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    
}
.sponser-companies img{
    filter: grayscale(100%);
}
.enjoy-image img{
    width: 100%;
}
footer{
    margin-top: 20px;
}
/* responsive */
/* small device */
@media screen and (max-width: 576px) {
   
    #features , nav , #enjoy-feature {
        flex-direction: column;
    }
    .brand{
        margin-right: 30px;
        text-align: center;
        justify-content: center;
        font-size: 2.5rem;
        
    }
    /* features */
    .features-image , 
    .sponser-companies{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
    .features-description{
    max-width: 530px;
    margin: 20px;
    }
/* facts */
    .facts-container{
 display: grid;
 grid-template-columns: 1fr;
 
    }
 .facts-container , .sponser-companies {
    justify-items: center;
    gap: 50px;
 }
 /* shared style */
 main > section {
    margin-top: 50px;
 }
 #ex-badge{
    margin-top: 20px;
    margin-left: 20px;
}

}

/* medium device */
@media screen and (min-width: 577px) and (max-width: 992px) {
    #features{
        flex-direction: column;
    }
    .sponser-companies , .facts-container{
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
        justify-items: center;
    }
    #ex-badge{
    margin-top: 20px;
    margin-left: 20px;
}
}