
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.display-flex{
    display: flex;
}
.bg-primary{
    background-color: rgba(255, 224, 14, 0.1);
}
/* dark-2 */
.text-gray{
    color: #424242;
}
/* dark-3 */
.text-light-gray{
    color: #727272;
    font-size: 16px;
    line-height: 28px;
}
nav , .banner{
    border: 2px solid red;
    max-width: 1240px;
    margin: 0px auto;
}
.btn{
    background-color: #FF900E;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
}

/* header */
.brand{
    font-size: 40px;
    font-weight: bold;

}

/* nav-bar-related style */
nav{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right:  30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}
/* banner */
.banner{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.banner-description{
    max-width: 800px;
    padding: 30px;

}
.banner-title{
    font-size: 60px;
    font-weight: bold;
    line-height: auto;
}
img{
    width: 100%;
}