/* *{
    margin: 0px;
} */
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.display-flex{
    display: flex;
}
.bg-primary{
    background-color: rgba(255, 224, 14, 0.1);
}
/* dark-2 */
.text-gray{
    color: #424242;
}
/* dark-3 */
.text-light-gray{
    color: #727272;
    font-size: 16px;
    line-height: 28px;
}
nav , .banner , main{
    border: 2px solid red;
    max-width: 1240px;
    margin: 0px auto;
}
.btn{
    background-color: #FF900E;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
}
main > section{
    margin-top: 120px;
    
}
.section-title{
    font-size: 2.5rem;
}
/* header */
header{
    padding: 20px;
}
.brand{
    font-size: 40px;
    font-weight: bold;


}

/* nav-bar-related style */
nav{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right:  30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}
/* banner */
.banner{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    
}
.banner-description{
    max-width: 800px;
    padding: 30px;

}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    line-height: auto;
}
img{
    width: 100%;
}
/* features  */
#features{
    align-items: center;
}
.features-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.features-description{
    max-width: 530px;
    margin-left: 60px;
}
/* responsive */
/* small device */
@media screen and (max-width: 576px) {
   
    #features , nav{
        flex-direction: column;
    }
    .brand{
        margin-right: 30px;
        text-align: center;
        justify-content: center;
        font-size: 2.5rem;
        
    }
    /* features */
    .features-image{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}
.features-description{
    max-width: 530px;
    margin-left: 20px;
}
 /* shared style */
 main > section {
    margin-top: 50px;
 }

}

/* medium device */
@media screen and (min-width: 577px) and (max-width: 992px) {
    #features{
        flex-direction: column;
    }
}